.slds-box {
    border: 1px solid #d8dde6;
    border-radius: 0.25rem;
    padding: 1rem;
}

.slds-theme_shade {
    background-color: #f3f2f2;
}

.slds-theme_error {
    background-color: #fef7f7;
    border-color: #c23934;
}

.slds-theme_info {
    background-color: #f0f8fc;
    border-color: #0070d2;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: 'Salesforce Sans', Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    margin: 0;
}

.slds-is-relative {
    position: relative;
    min-height: 100px;
}

